
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Test View'ı</h3>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Department</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Semih</td>
        <td>Software</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ahmet</td>
        <td>Software</td>
    </tr>
</table>

